<div class="js-view citizens-greeting-role">
    <h1 class="text-center">Ваша роль</h1>
    <h2 class="text-center" id="view-citizens-greeting-role"></h2>
    <img src="img/sheriff.png">
    <button type="button" class="btn btn-success form-control" id="view-citizens-greeting-role-btn">Я запомнил роль</button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var startBtn = document.getElementById('view-citizens-greeting-role-btn');

        startBtn.addEventListener('click', function() {
            bus.emit('view.citizens-greeting.accept', {})
        })
    })
</script>
