<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <title>МАФИЯ</title>
    <link rel="stylesheet" type="text/css" href="style/style.css?v1">

    <script src="js/main.min.js?v1"></script>

</head>

<body id="app">
<!-- @import web/view/game/start.html -->
<!-- @import web/view/game/history.html -->
<!-- @import web/view/game/players.html -->
<!-- @import web/view/citizens-greeting/role.html -->
<!-- @import web/view/mafia-greeting/players.html -->
<!-- @import web/view/mafia/players.html -->
<!-- @import web/view/court/players.html -->
<!-- @import web/view/doctor/players.html -->
<!-- @import web/view/girl/players.html -->
<!-- @import web/view/sheriff/players.html -->
</body>

</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        ws();
    });
</script>